@font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('../assets/fonts/PoppinsRegular.woff2') format('woff2'), url('../assets/fonts/PoppinsRegular.woff')
        format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('../assets/fonts/PoppinsSemiBold.woff2') format('woff2'), url('../assets/fonts/PoppinsSemiBold.woff')
        format('woff');
    font-display: swap;
  }

  @font-face {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('../assets/fonts/PoppinsBold.woff2') format('woff2'), url('../assets/fonts/PoppinsBold.woff')
        format('woff');
    font-display: swap;
  }